body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#container{
    color: white;

}

.digit{
    font-size: 150px;
    font-weight: bold;
}

.txt{
    font-size: 40px;
    font-weight: bold;
}

#btn-container{
    text-align: center;
    margin-top: 40px;

}

.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    
}

#start{
    background-color:lightgreen;
}
#stop{
    background-color: #e74c3c;
}
#reset{
    background-color: #3498db;
}